<div class="error" *ngIf="tracksError | async">
  {{ tracksError | async }}
</div>

<mat-progress-spinner
  *ngIf="(tracksLoading | async) else tracksList"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #tracksList>
  <app-centered-card title="Tracks">
    <ul *ngFor="let track of tracks | async">
      <li>{{ track.title }}</li>
    </ul>
  </app-centered-card>
</ng-template>
