<app-centered-card title="Add artist">

<!--  public title: string,-->
<!--  public description: string,-->
<!--  public image: string,-->
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        type="text" name="title"
        title required matInput ngModel #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title is required!
      </mat-error>
      <mat-error *ngIf="title.touched && title.hasError('serverError')">
        {{ title.getError('serverError') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        name="description"
        ngModel
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        #description="ngModel"
      ></textarea>
      <mat-error *ngIf="description.touched && description.hasError('serverError')">
        {{ title.getError('serverError') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel #image="ngModel"></app-file-input>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      REGISTER
    </button>
  </form>
</app-centered-card>
