<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>{{ (artist | async)?.title }}</h1>
</div>

<div class="error" *ngIf="albumsError | async">
  {{ albumsError | async }}
</div>

<mat-progress-spinner
  *ngIf="(albumsLoading | async) else artistAlbumsList"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistAlbumsList>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let album of albums | async"
    >
      <mat-card>
        <mat-card-title>
          <a [routerLink]="['/album/', album.id]">{{ album.title }}</a>
        </mat-card-title>
        <img
          [src]="album.image | image"
          [alt]="album.title"
          mat-card-image
        />
        <mat-card-content>
          <p>Release: {{ album.release }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
