<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else artistsList"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistsList>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let artist of artists | async"
    >
      <mat-card>
        <mat-card-title>{{ artist.title }}</mat-card-title>
        <img
          [src]="artist.image | image"
          [alt]="artist.title"
          mat-card-image
        />
        <mat-card-content>
          <a [routerLink]="['/artist/', artist.id]">{{ artist.title }}</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
